
# eclipse
# idea
# gradle
# Minecraft
# other

*.ipr
*.iws
*.iml
*.log
*.launch

.classpath
.gradle
.idea
.metadata
.project
.settings

bin
build
eclipse
minecraft
out
run

eula.txt
options.txt
usercache.json
usernamecache.json

config/
crash-reports/
logs/
saves/
